<%- include('partials/_header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/edit-poliza/<%= data.idPoliza%>" method="post">
                        <div class="form-group ">
                            <input type="text" name="idPoliza" placeholder="ID" value="<%= data.idPoliza%>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Ciudad" placeholder="Ciudad" value="<%= data.Ciudad%>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Cobertura" placeholder="Cobertura" value="<%= data.Cobertura%>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ValorAsegurado" placeholder="Valor Asegurado" value="<%= data.ValorAsegurado%>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Tomador_idDocTomador" placeholder="ID Tomador" value="<%= data.Tomador_idDocTomador%>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Vehiculo_Tomador_idDocTomador" placeholder="ID Tomador" value="<%= data.Vehiculo_Tomador_idDocTomador%>"
                                class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">
                            Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>